.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

*.qcow2
*.img
*.iso

**/k3s
**/kubectl

k3s.yaml
kubeconfig
.kube/

**/--help/
**/--version/

*.tar.gz
*.tar.xz

.env
.env.*
*.pem
id_rsa
id_rsa.*

*.log
